.App{
  background-color: #ecf0f1;
}
.nav-bar{
  background-color: #0a1612;
  height: 40px;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(3,10%) auto;
  justify-content: start;
  align-content: center;
}
/* .current:active {
  background-color: grey;
} */


.nav-bar a{
  color: white;
  text-decoration: none;
}

.nopop {
  display: none;
}