.add-inputs{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: none;
}
input{
    width: 60%;
}
#add-client{
    background-color: green;
    width: 100px;
    height: 100px;
    text-align: center;
}
/* .updateInputs{
} */

.actions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    grid-gap: 20px;
}
.actions-container > div {
    background-color: #fff;
    padding: 15px;
}